#login{

}
#login h1{
    background:pink;
    width:100%;
    height:.6rem;
  text-align:center;
  line-height:.6rem;
  font-size:.35rem;
}
#login p{
    padding:0.2rem;
    margin:0.2rem 0;
}
#login p input{
    display:block;
    width:78%;
    margin:0 auto;
}
#login p  button{
    background:skyblue;
    padding:10px 30px;
    outline:none;
    color:#fff;
    margin:1rem auto;
    display:block;
    border:1px solid #eee;
}